<h1>My Portfolio</h1>

<div class='search-area'>
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3 no-left-padding">
          <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>

<% end %>
<br>
<% if @stock %>
<div class="card card-header results-block">
  <strong style="color:red"> Symbol:</strong><%= @stock.ticker %>&nbsp; &nbsp;
  <strong style="color:red"> Name:</strong><%= @stock.name %>&nbsp; &nbsp;
  <strong style="color:red"> Price:$</strong><%= @stock.price %>&nbsp; &nbsp;
  <%= button_to 'Add to portfolio' , user_stocks_path(user: current_user, ticker: @stock.ticker) , data: { "turbo-method": :post } %>
</div>
<% end %>

<h2>My Watchlist</h2>
<%= render 'stocks/list'%>
<br>
<%= button_to 'Home' , root_path , :method => :get %>